.navhome{
    background: yellow;
    height: 70px;
    top: 0%;
    width: 1535px;
}

.Butserv{
    position: absolute;
    top: 15%;
    left: 74.5%;
    height: 50px;
    width: 150px;
}

.ButReserv{
    position: absolute;
    top: 15%;
    left: 60.5%;
    height: 50px;
    width: 150px;
}

.ButConsult{
    position: absolute;
    top: 15%;
    left: 14.5%;
    height: 50px;
}

.ButHserv{
    position: absolute;
    top: 15%;
    left: 1%;
    height: 50px;
}

.ButFP{
    position: absolute;
    top: 15%;
    left: 27.5%;
    height: 50px;
    width: 150px;
}

.ButCont{
    position: absolute;
    top: -15%;
    left: 87.5%;
    height: 50px;
    width: 150px;
}

.no-padding{
    height: 600px;
}

















