.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
  }
  
  .logoNav {
      height:95px;
      padding-left: 10%;
  }
  
  .mechanicLarge {
      size: 20%;
  }
  h5{
    left: 30%;
  }