<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.4.7/dist/cdn/beer.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../templates/Static/Contact.css">
    <title>Contact</title>
</head>
<body>
    <nav class="navContact">
        <button class="circle transparent">
          <i>menu</i>
          <img src="../templates/Static/IMG/Butcont.jpg" alt="" class="ImgNavC">
        </button>
        <h5 class="max center-align">SERVIEXPRESS</h5>
        <button class="circle transparent">
          <img class="responsive" src="../templates/Static/IMG/taller.jpg">
        </button>
      </nav>
      <article class="no-padding-contact">
        <div class="grid no-space-contact">
          <div class="s6">
            <img class="responsive" src="../templates/Static/IMG/insta.avif"><!----><!---->
            <div class="absolute top left right padding top-shadow white-text">
              <h5>SERVIEXPRESS</h5>
              <p>Puedes encontrarnos en instagram Como: Puerto_SERVIEXPRESS</p>
            </div>
          </div>
          <div class="s6">
            <div class="padding">
              <h5>TALLER SERVIEXPRESS</h5>
              <p>En Taller Mecánico SERVIEXPRESS, nos dedicamos a brindar servicios de alta calidad para mantener 
                tu vehículo en óptimo estado. <br> Desde reparaciones especializadas hasta mantenimiento preventivo, 
                nuestro equipo altamente capacitado utiliza tecnología de vanguardia para ofrecer soluciones rápidas y eficientes. 
                Confía en nosotros para cuidar de tu automóvil con profesionalismo y compromiso. <br> 
                ¡Tu seguridad y satisfacción son nuestra prioridad en cada servicio que realizamos <br>
                !Recuerda buscarnos en Instagram como Puerto_SERVIEXPRESS</p>
            </div>
          </div>
        </div>
      </article>
      <article class="no-padding-contact-2">
        <div class="grid no-space-contact">
          <div class="s6">
            <img class="responsive" src="../templates/Static/IMG/face.avif"><!----><!---->
            <div class="absolute top left right padding top-shadow white-text">
              <h5>SERVIEXPRESS</h5>
              <p>Puedes encontrarnos en facebook Como: Puerto_SERVIEXPRESS</p>
            </div>
          </div>
          <div class="s6">
            <div class="padding">
              <h5>TALLER SERVIEXPRESS</h5>
              <p>En Taller Mecánico SERVIEXPRESS, nos dedicamos a brindar servicios de alta calidad para mantener 
                tu vehículo en óptimo estado. <br> Desde reparaciones especializadas hasta mantenimiento preventivo, 
                nuestro equipo altamente capacitado utiliza tecnología de vanguardia para ofrecer soluciones rápidas y eficientes. 
                Confía en nosotros para cuidar de tu automóvil con profesionalismo y compromiso. <br> 
                ¡Tu seguridad y satisfacción son nuestra prioridad en cada servicio que realizamos <br>
                !Recuerda buscarnos en facebook como: puerto_SERVIEXPRESS</p>
            </div>
          </div>
        </div>
      </article>






















<script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.4.7/dist/cdn/beer.min.js"></script>

<script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.0/dist/cdn/material-dynamic-colors.min.js"></script>

    
</body>
</html>