<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Testing</title>
</head>
<body>


    <h1>Cliente</h1>
        <h2>nombre: </h2> 
        <h2>rut: </h2>
        <h2>correo: </h2>
        <h2>telefono: </h2>
        <h2>fecha nacimiento: </h2>
    <br>

    <h1>Empleado</h1>
        <h2>nombre: </h2> 
        <h2>rut: </h2>
        <h2>correo: </h2>
        <h2>telefono: </h2>
        <h2>fecha nacimiento: </h2>
    <br>

    <h1>Servicio</h1>
    <h2>nombre: </h2>
    <h2>precio: </h2>
    <h2>descuento: </h2>
    <h2>fecha: </h2>
    <br>

</body>
</html>