<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/static/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.4.7/dist/cdn/beer.min.css" rel="stylesheet">
    <title>Document</title>
<body>
    <nav class="navhome">
        <button class="circle transparent">
          <i>menu</i>
        </button>
        <h5 class="max center-align">SERVIEXPRESS</h5>
        <button class="circle transparent">
          <img class="responsive" src="../templates/static/img/taller.jpg">
        </button>
      </nav>
      <button class="Butserv">
        <img src="../templates/static/img/Bserv.png">
        <span>Servicios</span>
      </button>
      <button class="ButReserv">
        <img src="../templates/static/img/ButReserv.png">
        <span>Reserva De Hora</span>
      </button>
      <button class="ButConsult">
        <img src="../templates/static/img/ButReloj.png">
        <span>Consulta De Estado</span>
      </button>
      <button class="ButHserv">
        <img src="../templates/static/img/ButHserv.png">
        <span>Historial De Servicios</span>
      </button>
      <button class="ButFP">
        <img src="../templates/static/img/ButFP.jpg">
        <span>Facturacion/Pago</span>
      </button>
      <button class="ButCont">
        <img src="../templates/static/img/Butcont.jpg">
        <span>Contacto</span>
      </button>

      <article class="no-padding">
        <img class="responsive small" src="../templates/static/img/CardTaller.jpg"><!----><!---->
        <div class="padding">
          <h5>ServiExpress</h5>
          <p>En Taller Mecánico SERVIEXPRESS, nos dedicamos a brindar servicios de alta calidad para mantener 
            tu vehículo en óptimo estado. <br> Desde reparaciones especializadas hasta mantenimiento preventivo, 
            nuestro equipo altamente capacitado utiliza tecnología de vanguardia para ofrecer soluciones rápidas y eficientes. 
            Confía en nosotros para cuidar de tu automóvil con profesionalismo y compromiso. <br> 
            ¡Tu seguridad y satisfacción son nuestra prioridad en cada servicio que realizamos</p>
        </div>
      </article>
      
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.4.7/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.0/dist/cdn/material-dynamic-colors.min.js"></script>
</body>
</html>