<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.4.9/dist/cdn/beer.min.css" rel="stylesheet">
    <title>Formulario Solicitud de Hora</title>
    <link rel="stylesheet" href="../templates/static/css/Prueba.css"> <!-- Agrega tu hoja de estilos aquí si es necesario -->
</head>
<body>
    <header class="white">
        <nav class="primary-container white right-margin">
          <img class="logoNav" src="../templates/static/img/logoServiexpress.svg">
        <nav class="max right-align round no-space">
          <button class="primary light-blue10 border left-round small">
            <i class>
              <span class="material-symbols-outlined">home</span>
            </i>
            Home
          </button>
          <button class="primary light-blue10 small border no-round">
            <i class>
              <span class="material-symbols-outlined">service_toolbox</span>
            </i>
            Servicios
          </button>
          <button class="primary light-blue10 small border no-round">
            <i class>
              <span class="material-symbols-outlined">groups</span>
            </i>
            Nosotros
          </button>
          <button class="primary light-blue10 small no-round">
            <i class>
              <span class="material-symbols-outlined">rss_feed</span>
            </i>
            Blog
          </button>
          <button class="primary light-blue10 small no-round">
            <i class>
              <span class="material-symbols-outlined">contact_page</span>
            </i>
            Contacto
          </button>
          
          <button class="primary light-blue10 small no-round">
            <span>Cuenta</span>
            <i>account_circle</i>
            <menu class="no-wrap">
              <a class="primary light-blue10 small no-round">Login</a>
              <a class="primary light-blue10 small no-round">Crear</a>
            </menu>
          </button>
  
          <button class="primary red7 small right-round">
            <i class>
              <span class="material-symbols-outlined">event</span>
            </i>
            Reservar Hora
          </button>
        </nav>
      </nav>
      </header>

    <section class="white responsive">   
        <main class="responsive">
            <div class="center-align top-align black-text">
                <h3><b>Formulario Solicitud de Hora</b></h3>
            </div>

            <form id="solicitudForm" onsubmit="return validarFormulario()">
                <div class="field label border small round grey-text">
                    <input type="text" class="blue-border" id="nombre" required>
                    <label>Nombre</label>
                </div>

                <div class="field label border small round grey-text">
                    <input type="text" class="blue-border" id="apellido" required>
                    <label>Apellido</label>
                </div>

                <div class="field label border small round grey-text">
                    <input type="text" class="blue-border" id="rut" pattern="\d{7,8}" title="Ingrese un RUT válido (sin puntos ni guion)" required>
                    <label>Rut (sin puntos ni guion)</label>
                </div>

                <div class="field label border small round grey-text">
                    <input type="email" class="blue-border" id="correo" required>
                    <label>Correo</label>
                </div>

                <div class="field label border small round grey-text">
                    <input type="text" class="blue-border" id="patente" required>
                    <label>Patente (sin guion ni espacios)</label>
                </div>

                <div class="field label border small round grey-text">
                    <input type="text" class="blue-border" id="direccion" required>
                    <label>Dirección</label>
                </div>

                <nav class="center-align">
                    <span class="helper"><b><h6>Seleccione el Servicio:</h6></b></span>
                </nav>

                <div class="field center-align">
                    <nav class="center-align">
                        <label class="radio">
                            <input type="radio" name="servicio" value="Inspección" required>
                            <span>Inspección</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="servicio" value="Diagnóstico" required>
                            <span>Diagnóstico</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="servicio" value="Mejoras" required>
                            <span>Mejoras</span>
                        </label>
                    </nav>
                </div>

                <div class="field label border small">
                    <input type="date" class="blue-border" id="fecha" required>
                    <label>Fecha</label>
                </div>

                <div class="field label suffix border small">
                    <input type="time" class="blue-border" id="hora" required>
                    <label>Hora de reserva</label>
                    <i>schedule</i>
                </div>

                <div class="field textarea label border blue-border">
                    <textarea id="comentarios"></textarea>
                    <label class="grey-text">Comentarios(Marca, año, problema)</label>
                </div>
                
                <div class="field center-align">
                    <button type="submit" class="primary green medium round">
                        <span>Enviar Formulario</span>
                        <i>check</i>
                    </button>
                </div>
            </form>
        </main>
    </section>

    <script>
        function validarFormulario() {
            // Agrega aquí tu lógica de validación personalizada
            // Retorna true si la validación es exitosa, de lo contrario, retorna false
            // Puedes mostrar mensajes de error o cambiar el estilo de los campos según sea necesario

            // Ejemplo de validación simple (campos no vacíos)
            var nombre = document.getElementById('nombre').value;
            var apellido = document.getElementById('apellido').value;
            var rut = document.getElementById('rut').value;
            var correo = document.getElementById('correo').value;
            var patente = document.getElementById('patente').value;
            var direccion = document.getElementById('direccion').value;
            var servicio = document.querySelector('input[name="servicio"]:checked');
            var fecha = document.getElementById('fecha').value;
            var hora = document.getElementById('hora').value;

            if (!nombre || !apellido || !rut || !correo || !patente || !direccion || !servicio || !fecha || !hora) {
                alert('Todos los campos son obligatorios. Por favor, complete el formulario.');
                return false;
            }

            // Agrega más validaciones según sea necesario
            
            // Si todas las validaciones son exitosas, retorna true
            return true;
        }
    </script>


<script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.4.9/dist/cdn/beer.min.js"></script>

<script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.0/dist/cdn/material-dynamic-colors.min.js"></script>
</body>
</html>
