<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../templates/static/css/Prueba.css">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.4.7/dist/cdn/beer.min.css" rel="stylesheet">
</head>
<body>
    <header class="white">
        <nav class="primary-container white right-margin">
          <img class="logoNav" src="../templates/static/img/logoServiexpress.svg">
        <nav class="max right-align round no-space">
          <button class="primary light-blue10 border left-round small">
            <i class>
              <span class="material-symbols-outlined">home</span>
            </i>
            Home
          </button>
          <button class="primary light-blue10 small border no-round">
            <i class>
              <span class="material-symbols-outlined">service_toolbox</span>
            </i>
            Servicios
          </button>
          <button class="primary light-blue10 small border no-round">
            <i class>
              <span class="material-symbols-outlined">groups</span>
            </i>
            Nosotros
          </button>
          <button class="primary light-blue10 small no-round">
            <i class>
              <span class="material-symbols-outlined">rss_feed</span>
            </i>
            Blog
          </button>
          <button class="primary light-blue10 small no-round">
            <i class>
              <span class="material-symbols-outlined">contact_page</span>
            </i>
            Contacto
          </button>
          
          <button class="primary light-blue10 small no-round">
            <span>Cuenta</span>
            <i>account_circle</i>
            <menu class="no-wrap">
              <a class="primary light-blue10 small no-round">Login</a>
              <a class="primary light-blue10 small no-round">Crear</a>
            </menu>
          </button>
  
          <button class="primary red7 small right-round">
            <i class>
              <span class="material-symbols-outlined">event</span>
            </i>
            Reservar Hora
          </button>
        </nav>
      </nav>
      </header>

    <section class="white">   
      <main class="responsive">
        <div class="center-align top-align black-text">
          <h3><b>Formulario Solicitud de Hora</b></h3>
        </div>

        <div class="field label border small round grey-text">
            <input type="text" class="blue-border">
            <label>Nombre</label>
          </div>

          <div class="field label border small round grey-text">
            <input type="text" class="blue-border">
            <label>Apellido</label>
          </div>

          <div class="field label border small round grey-text">
            <input type="number" class="blue-border">
            <label>Rut(sin puntos ni guion)</label>
          </div>

          <div class="field label border small round grey-text">
            <input type="email" class="blue-border">
            <label>Correo</label>
          </div>

          <div class="field label border small round grey-text">
            <input type="text" class="blue-border">
            <label>Patente</label>
          </div>

          <div class="field label border small round grey-text">
            <input type="text" class="blue-border">
            <label>Direccion</label>
          </div>

          <button class="light-blue10">
            <span>Servicio a Solicitar</span>
            <i>arrow_drop_down</i>
            <menu>
              <a>Inspección</a>
              <a>Diagnóstico</a>
              <a>Mejoras</a>
            </menu>
          </button>

          <div class="field middle-align">
            <nav>
                <b>Seleccion de Servicios:</b>
              <label class="checkbox">
                <input type="checkbox">
                <span>Mantenimiento Preventivo</span>
              </label>
              <label class="checkbox">
                <input type="checkbox">
                <span>Reparaciones Mecanicas</span>
              </label>
              <label class="checkbox">
                <input type="checkbox">
                <span>Servicio De Autotrónica</span>
              </label>
              <label class="checkbox">
                <input type="checkbox">
                <span>Alineación y Balanceo</span>
              </label>
              <label class="checkbox">
                <input type="checkbox">
                <span>Revision del sistema de Escape</span>
              </label>
            </nav>
          </div>

          <div class="field label border small">
            <input type="date">
            <label>Date</label>
          </div>

          <div class="field label suffix border small">
            <input type="time">
            <label>Hora de reserva</label>
            <i>schedule</i>
          </div>

          <div class="field textarea label border round">
            <textarea></textarea>
            <label>Comentarios(Marca,año,problema)</label>
          </div>

          <button>Reservar Hora</button>
      </main>
      <nav class="bottom">
        <a>
          <i>home</i>
          <div>Home</div>
        </a>
        <a>
          <i>search</i>
          <div>Search</div>
        </a>
        <a>
          <i>share</i>
          <div>share</div>
        </a>
      </nav>
    </section>


      
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.4.7/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.0/dist/cdn/material-dynamic-colors.min.js"></script>
</body>
</html>