<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.4.9/dist/cdn/beer.min.css" rel="stylesheet"> 
    <title>Formulario Solicitud de Hora</title>
    <link rel="stylesheet" href="../templates/static/css/Prueba.css"> <!-- Agrega tu hoja de estilos aquí si es necesario -->
</head>
<body>
    <header class="white">
        <nav class="primary-container white right-margin">
          <img class="logoNav" src="../templates/static/img/logoServiexpress.svg">
        <nav class="max right-align round no-space">
          <button class="primary light-blue10 border left-round small">
            <i class>
              <span class="material-symbols-outlined">home</span>
            </i>
            Home
          </button>
          <button class="primary light-blue10 small border no-round">
            <i class>
              <span class="material-symbols-outlined">service_toolbox</span>
            </i>
            Servicios
          </button>
          <button class="primary light-blue10 small border no-round">
            <i class>
              <span class="material-symbols-outlined">groups</span>
            </i>
            Nosotros
          </button>
          <button class="primary light-blue10 small no-round">
            <i class>
              <span class="material-symbols-outlined">rss_feed</span>
            </i>
            Blog
          </button>
          <button class="primary light-blue10 small no-round">
            <i class>
              <span class="material-symbols-outlined">contact_page</span>
            </i>
            Contacto
          </button>
          
          <button class="primary light-blue10 small no-round">
            <span>Cuenta</span>
            <i>account_circle</i>
            <menu class="no-wrap">
              <a class="primary light-blue10 small no-round">Login</a>
              <a class="primary light-blue10 small no-round">Crear</a>
            </menu>
          </button>
  
          <button class="primary red7 small right-round">
            <i class>
              <span class="material-symbols-outlined">event</span>
            </i>
            Reservar Hora
          </button>
        </nav>
      </nav>
      </header>

      <section class="white responsive">   
        <main class="responsive">
            <div class="center-align top-align black-text">
                <h3><b>Formulario Solicitud de Hora</b></h3>
            </div>
            <form id="solicitudForm">

              <div class="field label border small round grey-text">
                <input type="text" class="blue-border" id="buscarRut">
                <label>Rut (sin puntos ni guion)</label>
              </div>
              <div>
                <button type="button" id="get" class="primary blue medium round absolute center">Buscar rut</button>
              </div>

              <br><br><br>

              <nav class="chip label large min round responsive">
                <span class="grey-text">Nombre: </span>
                  <p id="nombre" class="black-text"></p>
              </nav>

              <br>

              <nav class="chip label large min round responsive">
                <span class="grey-text">Apellido: </span>
                  <p id="apellido" class="black-text"></p>
              </nav>

              <br>

              <nav class="chip label large min round responsive">
                <span class="grey-text">Teléfono: </span>
                  <p id="telefono" class="black-text"></p>
              </nav>

              <br>

              <nav class="chip label large min round responsive">
                <span class="grey-text">Correo: </span>
                  <p id="correo" class="black-text"></p>
              </nav>

              <br>

              <nav class="chip label large min round responsive">
                <span class="grey-text">Servicio: </span>
                  <p id="servicio" class="black-text"></p>
              </nav>

              <br>

              <nav class="chip label large min round responsive">
                <span class="grey-text">Fecha: </span>
                  <p id="fecha" class="black-text"></p>
              </nav>

              <br>
    
              <nav class="chip label large min round responsive">
                <span class="grey-text">Hora: </span>
                  <p id="hora" class="black-text"></p>
              </nav>

              <br>
    
              <nav class="chip label large min round responsive">
                <span class="grey-text">Observaciones: </span>
                  <p id="observaciones" class="black-text"></p>
              </nav>

          </form>
        </main>
    </section>

    <footer class="padding margin top">
      <nav class="bottom">
        <nav class="left-align max">
          <span class="helper"><b><p>Todos los derechos reservados. 2023</p></b></span>
        </nav>

        <nav class="no padding">
          <span class="helper blue-text absolute center middle"><b><h5>SERVIEXPRESS®</h5></b></span>
        </nav>

        <nav class="right-align max">
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/facebook.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/instagram.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/tiktok.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/twitter.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/youtube.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/gmail.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/linkedin.png">
          </button>
        </nav>
        
      </nav>
    </footer>

    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
      import { getDatabase, ref, set, get} from "https://www.gstatic.com/firebasejs/10.7.1/firebase-database.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
  
      // Your web app's Firebase configuration
      const firebaseConfig = {
          apiKey: "AIzaSyB9o9Vevp8R6vfsgU-qpiSssZnNIiv2yMQ",
          authDomain: "test-34780.firebaseapp.com",
          projectId: "test-34780",
          storageBucket: "test-34780.appspot.com",
          messagingSenderId: "189901864219",
          appId: "1:189901864219:web:6be17206ca1721ffd927be"
      };
  
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const db = getDatabase(app);
  
      function leerReserva() {
        // Obtén una referencia a la base de datos y al nodo correspondiente al RUT ingresado
        var referenciaDatos = ref(db, 'reservaHora/' + document.getElementById('buscarRut').value);

        // Obtén datos de Firebase
        get(referenciaDatos)
            .then((snapshot) => {
                if (snapshot.exists()) {
                    const data = snapshot.val();
                    document.getElementById('nombre').textContent = data.nombre;
                    document.getElementById('apellido').textContent = data.apellido;
                    document.getElementById('telefono').textContent = data.telefono;
                    document.getElementById('correo').textContent = data.correo;
                    document.getElementById('servicio').textContent = data.servicio;
                    document.getElementById('fecha').textContent = data.fecha;
                    document.getElementById('hora').textContent = data.hora;
                    document.getElementById('observaciones').textContent = data.observaciones;
                } else {
                    console.log('Sin datos');
                    alert("ESTE RUT NO EXISTE")
                }
            })
            .catch((error) => {
                console.error('Error al leer datos:', error);
            });
    }

    // Asigna la función leerReserva al evento click del botón con el id 'submit'
    document.getElementById('get').addEventListener('click', leerReserva);
  
  </script>

    <script>
      function validarFormulario() {
          // Obtener los valores de los campos
          var nombre = document.getElementById('nombre').value;
          var apellido = document.getElementById('apellido').value;
          var rut = document.getElementById('rut').value;
          var correo = document.getElementById('correo').value;

          // Validar que los campos no estén vacíos
          if (!nombre || !apellido || !rut || !correo) {
              alert('Todos los campos son obligatorios. Por favor, complete el formulario.');
              return false;
          }

          // Validar el formato del RUT (opcional)
          var rutRegExp = /^\d{7,8}$/;
          if (!rutRegExp.test(rut)) {
              alert('Ingrese un RUT válido (sin puntos ni guion).');
              return false;
          }

          // Validar el formato del correo electrónico
          var correoRegExp = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          if (!correoRegExp.test(correo)) {
              alert('Ingrese un correo electrónico válido.');
              return false;
          }

          // Puedes agregar más validaciones según sea necesario

          // Si todas las validaciones son exitosas, retorna true
          return true;
      }
  </script>
      
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.4.7/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.0/dist/cdn/material-dynamic-colors.min.js"></script>
</body>
</html>
