<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.4.9/dist/cdn/beer.min.css" rel="stylesheet"> 
    <title>Formulario Solicitud de Hora</title>
    <link rel="stylesheet" href="../templates/static/css/Prueba.css"> <!-- Agrega tu hoja de estilos aquí si es necesario -->
</head>
<body>
  <header class="white">
    <nav class="primary-container white right-margin">
      <img class="logoNav" src="../templates/static/img/logoServiexpress.svg">
    <nav class="max right-align round no-space">
      <a href="../templates/home.html">
      <button class="primary light-blue10 border left-round small">
        <i class>
          <span class="material-symbols-outlined">home</span>
        </i>
        Home
      </button>
    </a>
    <a href="../templates/services.html">
      <button class="primary light-blue10 small border no-round">
        <i class>
          <span class="material-symbols-outlined">service_toolbox</span>
        </i>
        Servicios
      </button>
    </a>
    <a href="">
      <button class="primary light-blue10 small border no-round">
        <i class>
          <span class="material-symbols-outlined">groups</span>
        </i>
        Nosotros
      </button>
    </a>
    <a href="../templates/blog.html">
      <button class="primary light-blue10 small no-round">
        <i class>
          <span class="material-symbols-outlined">rss_feed</span>
        </i>
        Blog
      </button>
    </a>
    <a href="../templates/contact.html">
      <button class="primary light-blue10 small no-round">
        <i class>
          <span class="material-symbols-outlined">contact_page</span>
        </i>
        Contacto
      </button>
    </a>
      <a href="../templates/account.html">
      <button class="primary light-blue10 small no-round">
        <span>Cuenta</span>
        <i>account_circle</i>
        <menu class="no-wrap">
          <a class="primary light-blue10 small no-round">Login</a>
          <a class="primary light-blue10 small no-round">Crear</a>
        </menu>
      </button>
    </a>
    <a href="../templates/reservation.html">

      <button class="primary red7 small right-round">
        <i class>
          <span class="material-symbols-outlined">event</span>
        </i>
        Reservar Hora
      </button>
    </a>
    </nav>
  </nav>
  </header>

      <section class="white responsive">   
        <main class="responsive">
            <div class="center-align top-align black-text">
                <h3><b>Formulario Solicitud de Hora</b></h3>
            </div>

            <form id="solicitudForm" onsubmit="return validarFormulario()">
                <div class="field label border small round grey-text">
                    <input type="text" class="blue-border" id="nombre" required>
                    <label>Nombre</label>
                </div>

                <div class="field label border small round grey-text">
                    <input type="text" class="blue-border" id="apellido" required>
                    <label>Apellido</label>
                </div>

                <div class="field label border small round grey-text">
                    <input type="text" class="blue-border" id="rut" pattern="\d{7,8}" title="Ingrese un RUT válido (sin puntos ni guion)" required>
                    <label>Rut (sin puntos ni guion)</label>
                </div>

                <div class="field label border small round grey-text">
                  <input type="number" class="blue-border" id="telefono" required>
                  <label>Teléfono (912345678)</label>
              </div>

                <div class="field label border small round grey-text">
                    <input type="email" class="blue-border" id="correo" required>
                    <label>Correo</label>
                </div>
      
                <nav class="center-align">
                  <span class="helper"><b><h6>Seleccione el Servicio:</h6></b></span>
                </nav>
      
                <div class="field center-align">
                  <nav class="center-align">
                    <label class="radio">
                      <input type="radio" name="radio5_" value="Inspección">
                      <span>Inspección</span>
                    </label>
                    <label class="radio">
                      <input type="radio" name="radio5_" value="Diagnóstico">
                      <span>Diagnóstico</span>
                    </label>
                    <label class="radio">
                      <input type="radio" name="radio5_" value="Mejoras">
                      <span>Mejoras</span>
                    </label>
                  </nav>
                </div>
      
                <div class="field label border small">
                  <input type="date" class="blue-border" id="fecha">
                  <label>Fecha</label>
                </div>
      
                <div class="field label suffix border small">
                  <input type="time" class="blue-border" id="hora">
                  <label>Hora de reserva</label>
                  <i>schedule</i>
                </div>
      
                <div class="field textarea label border blue-border">
                  <textarea id="observaciones"></textarea>
                  <label class="grey-text">Observaciones (MARCA, MODELO, VERSIÓN, AÑO, Información relevante)</label>
                </div>

                <!-- Agrega aquí los demás campos del formulario -->

                <div class="field center-align">
                    <button type="submit" id="submit" class="primary green medium round">
                        <span>Enviar Formulario</span>
                        <i>check</i>
                    </button>
                </div>
            </form>
        </main>
    </section>

    <footer class="padding margin top">
      <nav class="bottom">
        <nav class="left-align max">
          <span class="helper"><b><p>Todos los derechos reservados. 2023</p></b></span>
        </nav>

        <nav class="no padding">
          <span class="helper blue-text absolute center middle"><b><h5>SERVIEXPRESS®</h5></b></span>
        </nav>

        <nav class="right-align max">
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/facebook.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/instagram.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/tiktok.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/twitter.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/youtube.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/gmail.png">
          </button>
          <button class="transparent square">
            <img class="responsive" src="../templates/static/icons/linkedin.png">
          </button>
        </nav>
        
      </nav>
    </footer>

    <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
      import { getDatabase, ref, set, get} from "https://www.gstatic.com/firebasejs/10.7.1/firebase-database.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
  
      // Your web app's Firebase configuration
      const firebaseConfig = {
          apiKey: "AIzaSyB9o9Vevp8R6vfsgU-qpiSssZnNIiv2yMQ",
          authDomain: "test-34780.firebaseapp.com",
          projectId: "test-34780",
          storageBucket: "test-34780.appspot.com",
          messagingSenderId: "189901864219",
          appId: "1:189901864219:web:6be17206ca1721ffd927be"
      };
  
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const db = getDatabase(app);
  
      function crearReserva() {
          // Obtén una referencia única para cada reserva
          const reservaRef = ref(db, 'reservaHora/' + document.getElementById("rut").value);
          var radioButtons = document.getElementsByName("radio5_");
          var valorSeleccionado;

          for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
              valorSeleccionado = radioButtons[i].value;
              break; // Romper el bucle una vez que se encuentre el radio button seleccionado
            }
          }
  
          // Guarda los datos de la reserva en la base de datos
          set(reservaRef, {
              nombre: document.getElementById("nombre").value,
              apellido: document.getElementById("apellido").value,
              rut: document.getElementById("rut").value,
              telefono: document.getElementById("telefono").value,
              correo: document.getElementById("correo").value,
              servicio: valorSeleccionado,
              fecha: document.getElementById("fecha").value,
              hora: document.getElementById("hora").value,
              observaciones: document.getElementById("observaciones").value
          });
  
          alert("Datos enviados");
      }
  
      // Asigna la función reservarHora al evento click del botón con el id 'submit'
      document.getElementById('submit').addEventListener('click', crearReserva);
  
  </script>

    <script>
      function validarFormulario() {
          // Obtener los valores de los campos
          var nombre = document.getElementById('nombre').value;
          var apellido = document.getElementById('apellido').value;
          var rut = document.getElementById('rut').value;
          var correo = document.getElementById('correo').value;

          // Validar que los campos no estén vacíos
          if (!nombre || !apellido || !rut || !correo) {
              alert('Todos los campos son obligatorios. Por favor, complete el formulario.');
              return false;
          }

          // Validar el formato del RUT (opcional)
          var rutRegExp = /^\d{7,8}$/;
          if (!rutRegExp.test(rut)) {
              alert('Ingrese un RUT válido (sin puntos ni guion).');
              return false;
          }

          // Validar el formato del correo electrónico
          var correoRegExp = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          if (!correoRegExp.test(correo)) {
              alert('Ingrese un correo electrónico válido.');
              return false;
          }

          // Puedes agregar más validaciones según sea necesario

          // Si todas las validaciones son exitosas, retorna true
          return true;
      }
  </script>
      
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.4.7/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.0/dist/cdn/material-dynamic-colors.min.js"></script>
</body>
</html>
